* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(163, 231, 231);
}

.header {
  display: grid;
  grid-template-rows: repeat(1, 15vh);
  grid-template-columns: repeat(4, 20vw);
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.sum {
  display: grid;
  place-items: center;
  background-color: #60c0c5;
  border: 1px solid black;
  border-radius: 4%;
  overflow: auto;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(1, 35vh);
  grid-template-columns: repeat(3, 20vw);
  justify-content: space-evenly;
}

.bt {
  font-size: 2em;
  height: 15vh;
  margin-top: 10vh;
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 4%;
  overflow: auto;
  background-color: #77d8dd;
}

.footer {
  display: grid;
  grid-template-rows: 35vh;
  grid: template columns 100%;
  justify-content: center;
  justify-items: center;
  overflow: auto;
}

.matn {
  width: 30vw;
  font-size: 2em;
  margin-top: 4vh;
  overflow: auto;
}

.matn h4 {
  margin: 3vh;
}

p {
  display: inline-block;
  color: crimson;
}
